src/main/resources/OffersAPI.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns="http://api.clicksmob.com/xsd/2.0/OffersAPI"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           targetNamespace="http://api.clicksmob.com/xsd/2.0/OffersAPI">

    <xs:simpleType name="NumericBoolean">
        <xs:annotation>
            <xs:documentation>A boolean value represented in numeric format. 0 for 'false', 1 to 'true'.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation>List of country codes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AF"/>
            <xs:enumeration value="AL"/>
            <xs:enumeration value="DZ"/>
            <xs:enumeration value="AD"/>
            <xs:enumeration value="AO"/>
            <xs:enumeration value="AI"/>
            <xs:enumeration value="AG"/>
            <xs:enumeration value="AR"/>
            <xs:enumeration value="AM"/>
            <xs:enumeration value="AU"/>
            <xs:enumeration value="AT"/>
            <xs:enumeration value="AZ"/>
            <xs:enumeration value="BS"/>
            <xs:enumeration value="BH"/>
            <xs:enumeration value="BD"/>
            <xs:enumeration value="BB"/>
            <xs:enumeration value="BY"/>
            <xs:enumeration value="BE"/>
            <xs:enumeration value="BZ"/>
            <xs:enumeration value="BJ"/>
            <xs:enumeration value="BM"/>
            <xs:enumeration value="BT"/>
            <xs:enumeration value="BO"/>
            <xs:enumeration value="BA"/>
            <xs:enumeration value="BW"/>
            <xs:enumeration value="BR"/>
            <xs:enumeration value="BN"/>
            <xs:enumeration value="BG"/>
            <xs:enumeration value="BF"/>
            <xs:enumeration value="BI"/>
            <xs:enumeration value="KH"/>
            <xs:enumeration value="CM"/>
            <xs:enumeration value="CA"/>
            <xs:enumeration value="CV"/>
            <xs:enumeration value="CF"/>
            <xs:enumeration value="TD"/>
            <xs:enumeration value="CL"/>
            <xs:enumeration value="CN"/>
            <xs:enumeration value="CO"/>
            <xs:enumeration value="KM"/>
            <xs:enumeration value="CG"/>
            <xs:enumeration value="CR"/>
            <xs:enumeration value="CI"/>
            <xs:enumeration value="HR"/>
            <xs:enumeration value="CU"/>
            <xs:enumeration value="CY"/>
            <xs:enumeration value="CZ"/>
            <xs:enumeration value="DK"/>
            <xs:enumeration value="DJ"/>
            <xs:enumeration value="DM"/>
            <xs:enumeration value="DO"/>
            <xs:enumeration value="EC"/>
            <xs:enumeration value="EG"/>
            <xs:enumeration value="SV"/>
            <xs:enumeration value="GQ"/>
            <xs:enumeration value="ER"/>
            <xs:enumeration value="EE"/>
            <xs:enumeration value="ET"/>
            <xs:enumeration value="FJ"/>
            <xs:enumeration value="FI"/>
            <xs:enumeration value="FR"/>
            <xs:enumeration value="GA"/>
            <xs:enumeration value="GM"/>
            <xs:enumeration value="GE"/>
            <xs:enumeration value="DE"/>
            <xs:enumeration value="GH"/>
            <xs:enumeration value="GI"/>
            <xs:enumeration value="GR"/>
            <xs:enumeration value="GD"/>
            <xs:enumeration value="GT"/>
            <xs:enumeration value="GN"/>
            <xs:enumeration value="GW"/>
            <xs:enumeration value="GY"/>
            <xs:enumeration value="HT"/>
            <xs:enumeration value="HN"/>
            <xs:enumeration value="HK"/>
            <xs:enumeration value="HU"/>
            <xs:enumeration value="IS"/>
            <xs:enumeration value="IN"/>
            <xs:enumeration value="ID"/>
            <xs:enumeration value="IR"/>
            <xs:enumeration value="IQ"/>
            <xs:enumeration value="IE"/>
            <xs:enumeration value="IM"/>
            <xs:enumeration value="IL"/>
            <xs:enumeration value="IT"/>
            <xs:enumeration value="JM"/>
            <xs:enumeration value="JP"/>
            <xs:enumeration value="JO"/>
            <xs:enumeration value="KZ"/>
            <xs:enumeration value="KE"/>
            <xs:enumeration value="KI"/>
            <xs:enumeration value="KW"/>
            <xs:enumeration value="KG"/>
            <xs:enumeration value="LA"/>
            <xs:enumeration value="LV"/>
            <xs:enumeration value="LB"/>
            <xs:enumeration value="LS"/>
            <xs:enumeration value="LR"/>
            <xs:enumeration value="LY"/>
            <xs:enumeration value="LI"/>
            <xs:enumeration value="LT"/>
            <xs:enumeration value="LU"/>
            <xs:enumeration value="MK"/>
            <xs:enumeration value="MG"/>
            <xs:enumeration value="MW"/>
            <xs:enumeration value="MY"/>
            <xs:enumeration value="MV"/>
            <xs:enumeration value="ML"/>
            <xs:enumeration value="MT"/>
            <xs:enumeration value="MH"/>
            <xs:enumeration value="MR"/>
            <xs:enumeration value="MU"/>
            <xs:enumeration value="MX"/>
            <xs:enumeration value="FM"/>
            <xs:enumeration value="MD"/>
            <xs:enumeration value="MC"/>
            <xs:enumeration value="MN"/>
            <xs:enumeration value="ME"/>
            <xs:enumeration value="MA"/>
            <xs:enumeration value="MZ"/>
            <xs:enumeration value="MM"/>
            <xs:enumeration value="NA"/>
            <xs:enumeration value="NR"/>
            <xs:enumeration value="NP"/>
            <xs:enumeration value="NL"/>
            <xs:enumeration value="NZ"/>
            <xs:enumeration value="NI"/>
            <xs:enumeration value="NE"/>
            <xs:enumeration value="NG"/>
            <xs:enumeration value="KR"/>
            <xs:enumeration value="NO"/>
            <xs:enumeration value="OM"/>
            <xs:enumeration value="PK"/>
            <xs:enumeration value="PW"/>
            <xs:enumeration value="PA"/>
            <xs:enumeration value="PG"/>
            <xs:enumeration value="PY"/>
            <xs:enumeration value="PE"/>
            <xs:enumeration value="PH"/>
            <xs:enumeration value="PL"/>
            <xs:enumeration value="PT"/>
            <xs:enumeration value="QA"/>
            <xs:enumeration value="RO"/>
            <xs:enumeration value="RU"/>
            <xs:enumeration value="RW"/>
            <xs:enumeration value="KN"/>
            <xs:enumeration value="LC"/>
            <xs:enumeration value="VC"/>
            <xs:enumeration value="WS"/>
            <xs:enumeration value="SM"/>
            <xs:enumeration value="ST"/>
            <xs:enumeration value="SA"/>
            <xs:enumeration value="SN"/>
            <xs:enumeration value="RS"/>
            <xs:enumeration value="SC"/>
            <xs:enumeration value="SL"/>
            <xs:enumeration value="SG"/>
            <xs:enumeration value="SK"/>
            <xs:enumeration value="SI"/>
            <xs:enumeration value="SB"/>
            <xs:enumeration value="SO"/>
            <xs:enumeration value="ZA"/>
            <xs:enumeration value="KP"/>
            <xs:enumeration value="ES"/>
            <xs:enumeration value="LK"/>
            <xs:enumeration value="SD"/>
            <xs:enumeration value="SR"/>
            <xs:enumeration value="SZ"/>
            <xs:enumeration value="SE"/>
            <xs:enumeration value="CH"/>
            <xs:enumeration value="SY"/>
            <xs:enumeration value="TJ"/>
            <xs:enumeration value="TZ"/>
            <xs:enumeration value="TH"/>
            <xs:enumeration value="TL"/>
            <xs:enumeration value="TG"/>
            <xs:enumeration value="TO"/>
            <xs:enumeration value="TT"/>
            <xs:enumeration value="TN"/>
            <xs:enumeration value="TR"/>
            <xs:enumeration value="TM"/>
            <xs:enumeration value="TV"/>
            <xs:enumeration value="UG"/>
            <xs:enumeration value="UA"/>
            <xs:enumeration value="AE"/>
            <xs:enumeration value="GB"/>
            <xs:enumeration value="US"/>
            <xs:enumeration value="UY"/>
            <xs:enumeration value="UZ"/>
            <xs:enumeration value="VU"/>
            <xs:enumeration value="VA"/>
            <xs:enumeration value="VE"/>
            <xs:enumeration value="VN"/>
            <xs:enumeration value="YE"/>
            <xs:enumeration value="ZM"/>
            <xs:enumeration value="ZW"/>
            <xs:enumeration value="PR"/>
            <xs:enumeration value="TW"/>
            <xs:enumeration value="A1"/>
            <xs:enumeration value="A2"/>
            <xs:enumeration value="AP"/>
            <xs:enumeration value="AS"/>
            <xs:enumeration value="AW"/>
            <xs:enumeration value="BL"/>
            <xs:enumeration value="AQ"/>
            <xs:enumeration value="AX"/>
            <xs:enumeration value="BV"/>
            <xs:enumeration value="BQ"/>
            <xs:enumeration value="CK"/>
            <xs:enumeration value="O1"/>
            <xs:enumeration value="CW"/>
            <xs:enumeration value="NC"/>
            <xs:enumeration value="CX"/>
            <xs:enumeration value="PS"/>
            <xs:enumeration value="EH"/>
            <xs:enumeration value="CD"/>
            <xs:enumeration value="EU"/>
            <xs:enumeration value="FK"/>
            <xs:enumeration value="GF"/>
            <xs:enumeration value="FO"/>
            <xs:enumeration value="GG"/>
            <xs:enumeration value="GL"/>
            <xs:enumeration value="GP"/>
            <xs:enumeration value="GU"/>
            <xs:enumeration value="HM"/>
            <xs:enumeration value="IO"/>
            <xs:enumeration value="KY"/>
            <xs:enumeration value="SH"/>
            <xs:enumeration value="MF"/>
            <xs:enumeration value="MP"/>
            <xs:enumeration value="MS"/>
            <xs:enumeration value="NF"/>
            <xs:enumeration value="MQ"/>
            <xs:enumeration value="MO"/>
            <xs:enumeration value="PF"/>
            <xs:enumeration value="PN"/>
            <xs:enumeration value="PM"/>
            <xs:enumeration value="CC"/>
            <xs:enumeration value="GS"/>
            <xs:enumeration value="JE"/>
            <xs:enumeration value="NU"/>
            <xs:enumeration value="RE"/>
            <xs:enumeration value="SJ"/>
            <xs:enumeration value="SS"/>
            <xs:enumeration value="SX"/>
            <xs:enumeration value="TC"/>
            <xs:enumeration value="TF"/>
            <xs:enumeration value="TK"/>
            <xs:enumeration value="UM"/>
            <xs:enumeration value="VG"/>
            <xs:enumeration value="VI"/>
            <xs:enumeration value="WF"/>
            <xs:enumeration value="YT"/>
            <xs:enumeration value="MO"/>
            <xs:enumeration value="UNKNOWN"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="CountryList">
        <xs:sequence>
            <xs:element name="Country" type="CountryCode" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="PlatformCode">
        <xs:annotation>
            <xs:documentation>List of platforms codes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="IPOD"/>
            <xs:enumeration value="IPHONE"/>
            <xs:enumeration value="IPAD"/>
            <xs:enumeration value="ANDROID"/>
            <xs:enumeration value="WINDOWSPHONE"/>
            <xs:enumeration value="WAP"/>
            <xs:enumeration value="BLACKBERRY"/>
            <xs:enumeration value="OTHER"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="PlatformList">
        <xs:sequence>
            <xs:element name="Platform" type="PlatformCode" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!--
        Root element of document
    -->
    <xs:element name="Offers">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Offer" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Id" type="xs:int" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="OfferName" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="SubHeadline" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="Description" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="Categories" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Category" type="xs:string" minOccurs="1"
                                                    maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ConversionMode" minOccurs="1" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="CPC"/>
                                        <xs:enumeration value="CPI"/>
                                        <xs:enumeration value="CPA"/>
                                        <xs:enumeration value="CPA"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="ConversionUserFlow" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="Restrictions" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="Notes" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="AndroidPackageName" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="iOSBundleID" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="AdultTraffic" type="NumericBoolean" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="IncentiveAllowed" type="NumericBoolean" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="MediabuyerAllowed" type="NumericBoolean" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="KeyworderAllowed" type="NumericBoolean" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="PushAllowed" type="NumericBoolean" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="ApplicationTrafficAllowed" type="NumericBoolean" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="PublisherValidationAutomatic" type="NumericBoolean" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="AllowedUseOwnCreative" type="NumericBoolean" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="AllowedCustomizeBannerTarget" type="NumericBoolean" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="EachCreativeMustHaveDifferentLink" type="NumericBoolean" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="ApprovalRequired" type="NumericBoolean" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="NeedAcceptTerms" type="NumericBoolean" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="AllowedWiFi" type="NumericBoolean" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="Allowed3G" type="NumericBoolean" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="MinimalAge" minOccurs="1" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:minInclusive value="0"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="RebrokerAllowed" type="NumericBoolean" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="SMSAllowed" type="NumericBoolean" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="DiscoveryAllowed" type="NumericBoolean" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="EmailingAllowed" type="NumericBoolean" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="BannersURL" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="TargetURL" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="ThumbnailURL" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="Android" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="AndroidMinimalVersion" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="AndroidMaximalVersion" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="isAPK" type="NumericBoolean" minOccurs="1" maxOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="iOS" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="iOSMinimalVersion" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="iOSMaximalVersion" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="WindowsPhone" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="WindowsPhoneMinimalVersion" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="WindowsPhoneMaximalVersion" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="OfferTargets" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="OfferTarget" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="AndroidPreviewURL" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                    <xs:element name="iPadPreviewURL" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                    <xs:element name="iPhonePreviewURL" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                    <xs:element name="iPodPreviewURL" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                    <xs:element name="OtherPreviewURL" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="OfferPayouts" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="OfferPayout" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Payout" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="Countries" type="CountryList" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="Platforms" type="PlatformList" minOccurs="1" maxOccurs="1"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="OfferCaps">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="NoDailyCap" type="NumericBoolean" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="TotalCapLimit" type="xs:int" minOccurs="0" maxOccurs="1"/>
                                        <xs:element name="CountryPlatformSet" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Countries" type="CountryList" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="Platforms" type="PlatformList" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="DailyCap" type="xs:int" minOccurs="1" maxOccurs="1"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>